/*Set for every table*/
.tiles {
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
}
#iconlist img {
	top: 0px;
}
#noscript-message {
	position: absolute;
	top: 0px;
	left: 0px;
	margin-top: calc(var(--normal-size) / 10);
	margin-left: calc(var(--normal-size) / 10);
	text-align: center;
	width: 100%;
	height: auto;
	z-index: 7;
}
