#sidebar {
	width: calc(var(--normal-size) * 1.1);
	height: 100%;
	position: fixed;
	left: calc(100% - (var(--normal-size) * 1.2));
	padding-top: calc(var(--normal-size) / 10);
}
#sidebar > a > img {
	width: 100%;
	height: auto;
	float: right;
}
