/*Background*/
body {
	background-image: linear-gradient(rgb(44, 33, 96), rgb(76,33,96), rgb(33,53,96));
	color: white;
	font-family: Arial Black;
	margin: 0px;
}
#iconlist img {
	display: inline-flex;
	width: 10ch;
	height: auto;
	position: relative;
	top: 50px;
	transition: top .5s;
}
h2 {
	text-align: center;
	font-size: 5ch;
}
h3 {
	font-size: 3ch;
}
/*Starting Page*/
#main-image {
	display: flex;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10%;
}
#content {
	margin-left: 2ch;
	margin-right: 2ch;
	margin-top: 12.5%;
	margin-bottom: 1ch;
}
.card-content {
	padding: 1ch;
	font-size: 2ch;
}