/*Navigation Bar*/
nav {
	position: fixed;
	width: 100%;
	height: 12ch;
	background-image: linear-gradient(rgb(0,0,0,255), rgba(0,0,0,0));
	z-index: 6;
}
nav > #menu {
	height: var(--normal-size);
	width: var(--normal-size);
	float: right;
	margin-right: calc(var(--normal-size) / 10);
	margin-top: calc(var(--normal-size) / 10);
	z-index: 6;
	cursor: pointer;
	transition: transform .5s;
}
#iconwithname{
	height: var(--normal-size);
	width: auto;
	float: left;
	margin-left: calc(var(--normal-size) / 10);
	margin-top: calc(var(--normal-size) / 10);
	position: relative;
	transition: top 0.5s;
	top: -500px;
}
@media only screen and (max-width: 480px) {
	  nav > #menu {
		height: auto;
		width: 19%;
	  }
	  #iconwithname{
		width: 50%;
		height: auto;
	}
}