#sidebar {
	width: 5%;
	height: 100%;
	position: fixed;
	left: 100%;
	background-color: rgba(0,0,0,0.5);
	transition: left .5s;
	z-index: -1;
	padding-top: 5%;
	padding-left: 5px;
	padding-right: 5px;
}
#sidebar > a > img {
	width: calc(100% - 10px);
	height: auto;
}