#sidebar {
	width: 11ch;
	height: 100%;
	position: fixed;
	left: 100%;
	background-color: rgba(0,0,0,0.5);
	transition: left .5s;
	z-index: -1;
	padding-top: 15ch;
	padding-left: 1ch;
	padding-right: 1ch;
}
#sidebar > a > img {
	width: 100%;
	height: auto;
	float: right;
}
@media only screen and (max-width: 480px) {
  #sidebar {
		width: 20%;
		padding-top: 25%;
	}
}