#infobox {
	grid-column: 1 / span var(--columns);
	grid-row: var(--row) / calc(var(--row) + 1);
	height: auto;
	max-height: 0px;
	transition: max-height 0.5s;
	overflow: hidden;
	padding-right: 6px;
}
#infobox-title {
	grid-column: 1 / 4;
	grid-row: 1 / 2;
}
#infobox-title.no-author { grid-column: 1 / 5; }
#infobox-info {
	grid-column: 1 / 5;
	grid-row: 2 / 3;
	width: auto;
	height: auto;
}
#infobox-author {
	grid-column: 4 / 5;
	grid-row: 1 / 2;
	text-align: right;
}
#infobox > .card > .card-content {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
#technical-details,
#technical-details-button { display: none !important; }