@keyframes background-pan {
	from { background-position: 0% center; }
	to { background-position: -200% center; }
}
a {
	animation: background-pan 3s linear infinite;
	background: linear-gradient(
		to right,
		rgb(103,48,188),
		rgb(201, 172, 246),
		rgb(103,48,188)
	);
	background-size: 200%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	white-space: nowrap;
}
a.unavailable { position: relative; }
a.unavailable > .unavailable-tooltip{
	visibility: hidden;
	width: auto;
	margin-left: auto;
	bottom: 100%;
	left: 50%;
	background-color: var(--sidebar-background);
	color: var(--text-color);
	-webkit-text-fill-color: var(--text-color);
	text-align: center;
	padding: 5px 5px;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
}
a.unavailable > .unavailable-tooltip:after {
	content: " ";
	position: absolute;
	top: 100%; /* At the bottom of the tooltip */
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}
a.unavailable:hover > .unavailable-tooltip{ visibility: visible; }
