:root {
	--sidebar-background: rgba(0,0,0,0.5);
	--light-color: rgba(255, 255, 255, 0.06);
	--background-gradient: rgb(44, 33, 96), rgb(76,33,96), rgb(33,53,96);
	--text-color: white;
	--normal-size: 10ch;
	--small-size: calc(var(--normal-size)/ 10);
}
/*Background*/
body {
	background-image: linear-gradient(var(--background-gradient));
	color: var(--text-color);
	font-family: Arial Black;
	margin: 0px;
}
/*Set for every table*/
.tiles {
	display: grid;
	grid-template-columns: repeat(var(--columns), 1fr);
}
#iconlist img {
	display: initial;
	/*Only temporary size. Should get replaced from js with exact size*/
	width: var(--icon-width);
	height: auto;
	position: relative;
	top: 50px;
	transition: top .5s;
}
/*Titles*/
h2 {
	text-align: center;
	font-size: calc(var(--normal-size) / 2);
}
h4, h5 {
	margin-top: 0px;
	margin-bottom: 0px;
}
h6 {
	font-size: calc(var(--normal-size) / 4);
	margin-top: calc(var(--normal-size) / 11);
	margin-bottom: calc(var(--normal-size) / 11);
}
h3 { font-size: calc(var(--normal-size) / 3); }
h4 { font-size: calc(var(--normal-size) / 4); }
h5 { font-size: calc(var(--normal-size) / 5.5); }
/*Starting Page*/
#main-image {
	display: flex;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding-top: calc(var(--normal-size) * 1.5);
	z-index: -1;
}
main { margin: 12.5% calc(var(--normal-size) / 5) var(--small-size) calc(var(--normal-size) / 5); }
.card-content {
	padding: var(--small-size);
	font-size: calc(var(--normal-size) / 5);
}
#normal-size {
	height: var(--normal-size);
	width: var(--normal-size);
	left: calc(var(--normal-size) * -1);
	top: calc(var(--normal-size) * -1);
}
button {
	background: transparent;
	border: 0;
	padding: 0px 0px;
}