/*Navigation Bar*/
#navbar {
	top: 0px;
	position: fixed;
	width: 100%;
	height: calc(var(--normal-size) * 1.2);
	background-image: linear-gradient(rgb(0,0,0,255), rgba(0,0,0,0));
	z-index: 1;
	pointer-events: none;
}
#iconwithname {
	height: auto;
	width: calc(var(--normal-size) * 2);
	float: left;
	margin-left: var(--small-size);
	margin-top: var(--small-size);
	position: relative;
	transition: top 0.5s;
	top: -500px;
}
