#noscript-message {
	position: absolute;
	top: 0px;
	left: 0px;
	margin-top: calc(var(--normal-size) / 10);
	margin-left: calc(var(--normal-size) / 10);
	text-align: center;
	width: 100%;
	height: auto;
	z-index: 2;
}
nav { left: calc(100% - (var(--normal-size) * 1.2)); }
/*Navigation Bar*/
#iconwithname{ top: 0px; }
