#sidebar {
	width: calc(var(--normal-size) * 1.1);
	height: 100%;
	position: fixed;
	left: 100%;
	background-color: var(--sidebar-background);
	transition: left .5s;
	z-index: -1;
	padding-top: calc(var(--normal-size));
	padding-left: calc(var(--normal-size) / 10);
	padding-right: calc(var(--normal-size) / 10);
	pointer-events: auto;
}
#sidebar > img,
#sidebar > a > img {
	width: 100%;
	height: auto;
	float: right;
	cursor: pointer;
}
#language-toggle {
	transition: transform .2s;
}
