nav {
	display: grid;
	width: auto;
	height: 100%;
	position: fixed;
	left: 100%;
	background-color: var(--sidebar-background);
	transition: translate .5s;
	z-index: -1;
	padding: var(--small-size);
	pointer-events: auto;
	grid-template-rows: calc(var(--normal-size) * 0.7) calc(var(--normal-size) * 3.75);
	box-sizing: border-box;
}
nav[state="shown"] { animation: showSidebar .5s linear forwards; }
nav[state="hiding"] { animation: hideSidebar .5s linear forwards; }
nav[state="hidden"] > #primary-navigation { display: none; }
@keyframes showSidebar {
	0% { translate: 0% }
	100% { translate: -100% }
}
@keyframes hideSidebar {
	0% { translate: -100% }
	100% { translate: 0% }
}
#menu {
	float: right;
	z-index: 2;
	transition: transform .5s, translate .5s;
}
#menu[aria-expanded="true"] {
	transform: rotate(90deg);
	translate: 0%;
}
#menu[aria-expanded="false"] {
	transform: rotate(0deg);
	translate: -100%;
}
.sidebar-image {
	cursor: pointer;
	height: 100%;
	width: auto;
}
#language-toggle { transition: transform .2s; }
#primary-navigation {
	display: grid;
	grid-template-rows: calc(var(--normal-size) / 4) repeat(5, calc(var(--normal-size) * 0.7));
}